.burger-holder {
    width: 100%;
    height: 300px;
    margin: auto;
    background-image: none;
}

.checkoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

.hover-in {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.2s both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.2s both;
}

@media (min-width: 600px) {
    .checkoutSummary {
        width: 500px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {

    .burger-holder {
    height: 45vh;
    }
}


@media (min-width: 1600px) {

    .burger-holder {
    height: 48.5vh;
    }
}

.btnGroup {
    display: inline-flex;
    vertical-align: middle;
    justify-content: space-between;

}

.checkoutButton {
    border: none;
    transition: .2s;
    &:hover {
        transform: scale(1.05);
    }

}

.cancel {
    &:hover {
        color: red;
    }
}


.success {
    &:hover {
        color: green;
    }
}

.container {
    margin-top: 80px;
}

@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }