.burger-holder {
    width: 100%;
    height: 300px;
    margin: auto;
    background-image: none;
}

.checkoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

@media (min-width: 600px) {
    .checkoutSummary {
        width: 500px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {

    .burger-holder {
    height: 45vh;
    }
}


@media (min-width: 1600px) {

    .burger-holder {
    height: 48.5vh;
    }
}

.btnGroup {
    display: inline-flex;
    vertical-align: middle;
    justify-content: space-between;

}

.checkoutButton {
    border: none;
    transition: .2s;
    &:hover {
        transform: scale(1.05);
    }

}

.cancel {
    &:hover {
        color: red;
    }
}


.success {
    &:hover {
        color: green;
    }
}

.container {
    margin-top: 80px;
}