.order {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 5px auto;
    border-radius: 2px;
}

.listText {
    text-transform: capitalize;
    display: inline-block;
    margin: 5px;
    border-radius: 2px;
}