.BuildControls {
    background-color: rgb(255, 255, 255);
    border: 1px solid #eee;
    border-radius: 2px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0;
    box-shadow: 2px 2px 2px 1px #ccc;
}


.OrderButton {
    background-color: #f0f0ee;
    outline: none;
    cursor: pointer;
    border: 1px solid #eee;
    color: #000000e8;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px rgb(82, 81, 81);

    &:hover, &:active, &:focus {
        background-color: #e27b36;
        color: #000000e8;
    }

    &:disabled {
        background-color: #C7C6C6;
        cursor: not-allowed;
        border: 1px solid #ccc;
        color: #888888;
    }

    &:not(:disabled) {
        animation: enable 0.3s linear;
    }
}


@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

