.toolbar {
    height: 72px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background: linear-gradient( to right, #fab700, #ffff00);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;

    nav {
        height: 100%;
        
    }
}