.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 2px 1px rgb(70, 65, 65);
    border-radius: 5px;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    font-family: monospace;
    text-align: center;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.modal-show {
    transform: translateY(0);
    opacity: 1;
}

.modal-hide {
    transform: translateY(-100vh);
    opacity: 0;
}