.ContactData {
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 50%;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px 3px #ccc;

    .form-text {
        align-items: flex-start;
    }

    .form-control {
        width: 80%;
        margin: auto;
        border: none;
        background-color: rgba(224, 224, 224, 0.39);
        transition: 0.6s;
        &:focus, &:hover {
            color: #495057;
            background-color: #fff;
            border-bottom: 1px solid;
            border-color: #3f3f3f;
            outline: 0;
            box-shadow: none;
        }
    }
}
